{{#partial "content"}}

<h1>Squad</h1>

<p>Add a Squad:</p>

<form action="/squad/new" method="post">

    <div class="form-group">
        <label for="name"> Squad Name</label>
        <input id="name" name="name" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="size">Maximum Number Of Heroes</label>
        <input id="size" name="size" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="cause">Squad Fighting Cause</label>
        <input id="cause" name="cause" type="text" class="form-control">
    </div>

    <button type="submit" class="btn btn-success btn-block">Add Squad</button>
</form>

{{/partial}}

{{> layout.hbs}}