{{#partial "content"}}

<span id="index" style="padding-left: 300px;">
    <h1 class="index">Welcome to the Heroes Application</h1>
<div class = "space"></div>
<div class = "space"></div>

<div class="btns">
    <a href="/heroes"><button class="btn btn-cyan">View Hero List</button></a>

    <a href="/squad"><button class="btn btn-cyan">All  Squads</button></a>
</div>
</span>

{{/partial}}
{{> layout.hbs}}
